body {
    background-color: #444444;
}

#div1 {
    background-color: #000000;
    text-align: center;
    float: center;
    width: 800px;
    height: 600px;
    color:#ffffff
}

.textodiv1 { 
    color:#ffffff
}